#Characters{
    display: flex;
    display: inline-block;
    width: 20%;
    margin-top: 100px;
    background-color: rgb(227, 211, 211);
}

.alphabet{
    background-color: gray;
    border-color: black;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
}

img{
    display: flex;
    display: inline-block;
    margin-left: 200px;
    border: 20px;
    width: 500px;
}

#startButton{
    display: inline-block;
    display: flex;
    justify-content: flex-end;
}

.spaces{
    
}