#Characters{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: peru;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
}