#Game{
    display: flex;
    flex-direction: column;
}

#Characters{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    background-color: rgb(227, 211, 211);
}

.alphabet{
    background-color: gray;
    border-color: black;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
}

img{
    display: flex;
    border: 20px;
    width: 500px;
}

#startButton{
    display: inline-block;
    display: flex;
    justify-content: flex-end;
}

.spaces{
    width: 10px;
    height: 2px;
    color: black;
    background-color: black;

}

#Letters{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}